/* **********************************************
My styles
********************************************** */

body {
    background-color: black;
}

#video-placeholder {
	display: block;
	margin: auto;
	width: 100%;
    height: 500px;
}

iframe {
    border: none;
}

p {
    color: white;
    margin-left: 100px;
    font-size: 20px;
}

.voice1 {
    font-family: "brenner mono medium";
    color: goldenrod;
}

.voice3 {
    font-family: "brenner sans bold";
    font-style: italic;
    color: darkred;
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice2 {
	font-style: italic;
    color: darkcyan;
}

.voice4 {
    font-family: "brenner mono regular";
    font-style: italic;
    color: orangered;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p0 span {
	opacity: 0;
	font-family: "brenner mono medium";
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    background-color: goldenrod;
    color: white;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .1s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .3s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.3s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 1.6s;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 1.8s;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 2.8s;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3s;
}

.p0.on span:nth-of-type(12) {
	opacity: 1;
	transition: 0s 3.8s;
}

.p1.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p2.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p3.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p6.on span:first-of-type {
    background-color: darkred;
    color: white;
    margin-right: 10px;
}

.p7.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p8.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p9.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p10.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p12.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p13.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p15.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p16.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p18.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p19.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p20.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p21.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p23.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p24.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p26.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p27.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p29.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p30.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p31.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p32.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p34.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p35.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p37.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p38.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p39.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p40.on span:first-of-type {
    background-color: goldenrod;
    color: white;
    margin-right: 10px;
}

.p41.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}

.p44.on span:nth-child(-n+2) {
    background-color: orangered;
    color: white;
}

.p45.on span:nth-child(-n+2) {
    background-color: orangered;
    color: white;
}

.p46.on span:nth-child(-n+2) {
    background-color: orangered;
    color: white;
}

.p47.on span:first-of-type {
    background-color: darkcyan;
    color: white;
    margin-right: 10px;
}









